* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container1 {
  background-color: #1B1C17;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 1%;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 0.4fr 1.8fr 0.3fr;
  gap: 2px 2px;
  grid-template-areas:
    "header header header"
    "article article aside"
    "footer footer footer";
}

.logoprincipal {
  width: 200px;
  margin: 2px;
  border-radius: 10px;
}

.header {
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;



  grid-area: header;
}

.headermenu {

  margin: 3px;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0.5rem;

}

.listmenu a {
  color: #1B1C17;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 1.5rem;

}

.listmenu a:hover {
  background-color: #1B1C17;
  color: #C54508;
  border-radius: 10%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  grid-area: aside;
}

.imginicio {
  padding: 4px;
  margin: 4px;
  border-radius: 10px;
  width: 500px;

}

.article {
  background-color: #FFCC01;
  border-radius: 10px;
  font-size: 2.5rem;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-content: center;
  grid-area: article;
}

.tituloh2 {
  text-align: center;
}

.parrafo {
  font-size: 2rem;
  letter-spacing: 3px;
  word-spacing: 2px;
}

.footer1 {
  background-color: #C54508;
  border-radius: 10px;
  padding: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-area: footer;
}

.footer2 {
  background-color: #FFCC01;
  border-radius: 10px;
  padding: 2%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  grid-area: footer;
}


.insta {
  width: 60px;
  height: 60px;


}

.marca {
  display: flex;
  align-items: flex-end;
}

.botoninicio {
  font-size: 1.5rem;
}

.container2 {
  background-color: #1B1C17;
  font-family: 'Rubik', sans-serif;
  margin: auto;
  padding: 1%;
  display: grid;
  grid-template-columns: 0.4fr 1.6fr 1fr;
  grid-template-rows: 0.5fr 4fr 0.6fr;
  gap: 2px 2px;
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
}

.main {
  background-color: #C54508;
  color: #1B1C17;
  margin: 2px;
  font-size: 1.5rem;
  border-radius: 5%;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.sobrenos {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  word-spacing: 2px;
  margin: 3%;
}

.imgnos {
  border-radius: 10%;
}

.container4 {
  background-color: #1B1C17;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 1%;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "header"
    "mainservicios"
    "footer";
}

.mainservicios {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


  grid-area: mainservicios;
}

.servi {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;

  width: 80vw;
  height: 50vh;
}

.colnaranja {
  background-color: #C54508;
  margin: 3px;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 1.5rem;



}

.colamarillo {
  background-color: #FFCC01;
  margin: 3px;
  padding: 2px;
  font-size: 1.5rem;

}

.colblanco {
  background-color: antiquewhite;
  margin: 3px;
  padding: 2px;
  font-size: 1.5rem;
}

.list {
  list-style: none;
}

.container3 {
  background-color: #1B1C17;
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 1%;
  display: flex;
  align-items: center;
  font-family: 'Rubik', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 2px 2px;
  grid-template-areas:
    "header "
    "mainclientes"
    "footer ";
}

.mainclientes {
  grid-area: mainclientes;
}


.clientestitulo {
  font-size: 3rem;
  color: #C54508;
  text-decoration: underline;
  text-align: center;
}

.cajas {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-evenly;
  margin: 0 auto;
  padding: auto;
  text-align: center;


}

.caja1 {
  background-color: #C54508;
  width: 500px;
  height: 800px;
  margin: 1%;
  border-radius: 10%;
  opacity: 0.7;


}

.caja2 {
  background-color: #FFCC01;
  width: 500px;
  height: 800px;
  margin: 1%;
  border-radius: 10%;
  opacity: 0.7;
}

.caja3 {
  background-color: #ffffff;
  width: 500px;
  height: 800px;
  margin: 1%;
  border-radius: 10%;
  opacity: 0.7;

}

.caja1:hover {
  opacity: 1;
}

.caja2:hover {
  opacity: 1;
}

.caja3:hover {
  opacity: 1;
}

.imgclientes {
  width: 80%;
  border-radius: 10%;
  margin: 10%;
}



.cajacontacto {
  background-color: #FFCC01;
  width: 60vw;
  height: 65vh;
  margin: 3% auto;
  padding: 2%;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

}
@media screen and (max-width: 768px) {
  .container1 {
    background-color: #1B1C17;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 1%;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 2px 2px;
    grid-template-areas:
      "header"
      "article"
      "aside"
      "footer";
  }


}