.container5 {
    background-color: $colorfondoprincipal;
    height: 100vh;
    margin: auto;
    padding: 0%;
    display: flex;
    align-items: center;
    font-family: $tipografia;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
    gap: 2px 2px;
    grid-template-areas:
        "header "
        "cajacontacto"
        "footer ";

    
    
    .cajacontacto {
        background-color: #FFCC01;
        width: 65vw;
        height: 100%;
        margin-left: 18% ;
        padding: 2%;
        border-radius: 10%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        justify-items: center;
        justify-content: center;
        grid-area: cajacontacto;
        
    
    }
}


