.container3 {
    background-color: #1B1C17;

    height: 100vh;
    margin: auto;
    padding: 0%;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-template-areas:
        "header "
        "mainclientes"
        "footer ";
        .mainclientes {
            grid-area: mainclientes;
        }
}
.cajacontacto {
    background-color: #FFCC01;
    width: 60vw;
    height: 65vh;
    margin: 3% auto;
    padding: 2%;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}