.container1 {
    background-color: #1B1C17;

    height: 100vh;
    margin: auto;
    padding: 0%;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.4fr 1.8fr 0.3fr;
    gap: 2px 2px;
    grid-template-areas:
        "header header header"
        "article article aside"
        "footer footer footer";
}
.container2 {
    background-color: #1B1C17;
    font-family: 'Rubik', sans-serif;
    margin: auto;
    padding: 0%;
    display: grid;
    grid-template-columns: 0.4fr 1.6fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.6fr;
    gap: 2px 2px;
    grid-auto-flow: row;
    justify-content: stretch;
    justify-items: stretch;
    align-items: stretch;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";

    .header {
        grid-area: header;
    }

    .footer2 {
        grid-area: footer;
    }

}
.container4 {
    background-color: #1B1C17;
    min-height: auto;
    height: 100vh;
    margin: auto;
    padding: 0%;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-template-areas:
        "header"
        "mainservicios"
        "footer";
}
.container3 {
    background-color: #1B1C17;

    height: 100vh;
    margin: auto;
    padding: 0%;
    display: flex;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 2px 2px;
    grid-template-areas:
        "header "
        "mainclientes"
        "footer ";
        .mainclientes {
            grid-area: mainclientes;
        }
}