.header {
    background: linear-gradient(#C54508, white);
    border-radius: 10px;
    height: 150px;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-area: header;




}



@media screen and (max-width: 768px) {
    .header {
        background: linear-gradient(to right, #C54508, white, #C54508);
        border-radius: 10px;
        height: 200px;
        display: flex;
        flex-direction: row;
        align-content: space-evenly;
        justify-content: space-between;



        grid-area: header;




    }

    @media screen and (max-width: 420px) {
        .header {
            background: linear-gradient(to right, #C54508, white, #C54508);
            border-radius: 10px;
            height: 200px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;




            grid-area: header;

        }
    }
}