.container4 {
    background-color: #1B1C17;
    height: 100vh;
    margin: auto;
    padding: 0%;
    display: flex;
    font-family: 'Rubik', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr ;
    gap: 2px 2px;
    grid-template-areas:
        "header"
        "mainservicios"
        "footer";
}
.mainservicios {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
    align-content: space-evenly;


    grid-area: mainservicios;

    
    

            .colnaranja {
                background-color: #C54508;
                width: 300px;
                height: 400px;
                margin: 3px;
                padding: 2px;
                display: flex;
                flex-direction: column;
                align-content: center;
                justify-content: space-evenly;
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.5rem;
                .list {
                    list-style: none;
                }



            }

            .colamarillo {
                background-color: #FFCC01;
                width: 300px;
                height: 400px;
                margin: 3px;
                padding: 2px;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-content: center;
                justify-content: space-evenly;
                text-align: center;
                font-size: 1.5rem;
                .list {
                    list-style: none;
                }

            }

            .colblanco {
                background-color: antiquewhite;
                color: #1B1C17;
                width: 300px;
                height: 400px;
                margin: 3px;
                padding: 2px;
                display: flex;
                flex-direction: column;
                align-content: center;
                align-content: center;
                justify-content: space-evenly;
                text-align: center;
                font-size: 1.5rem;
                .list {
                    list-style: none;
                }
            }
            .boton{
                background-color: #1B1C17;
                color: aliceblue;
                border: none;
                border-radius: 20%;
                margin-left: 20%;
                width: 180px;
                font-size: 1rem;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-items: center;
            }

            
        
        }

        
    
