* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "__generales";
@import "__menunav";
@import "__index";
@import "__footer";
@import "__sobrenos";
@import "__footer2";
@import "__servicios";
@import "__clientes";
@import "__contacto";